body {
    font-size: 12px;
}

.container {
    padding: 1.5rem 7rem 1rem;
    width: auto;
}

.action-list {
    margin-right: 5px;
}

.action-list:last-child {
    margin-right: 0px;
}

.small-font {
    font-size: 12px;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#progressbar .ui-progressbar-value {
    background: rgb(179, 240, 123);
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-tabs-vertical {/* width: 55em;*/ }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; /*width: 12em; */}
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; 
/*width: 40em;*/}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
    border-color: #337ab7 !important;
    background: #337ab7 !important; }

.ui-tabs-horizontal > .ui-tabs-nav li{
    border-bottom-width: 0 !important;
    border-right-width: 1px !important;
    clear: none;
    width: auto;
}

.ui-tabs-horizontal > .ui-tabs-nav {
    float: none;
}

.ui-tabs-horizontal > .ui-tabs-panel {
    float: none;
}

#dialog-form {
    overflow: visible;
}

.glyphicon.glyphicon-remove-circle {
    border-color: #ebccd1;
    color: #a94442;
}

.standard_logo_wrapper {
    height: 113px;
    overflow: hidden;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    display: table;
}

.mb24 {
    margin-bottom: 24px;
}

.standard_logo {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-width: 180px;
    max-height: 113px;
}

.factura-totales {
    margin: 20px 0 40px;
    font-size: 15px;
}

.factura-show {
    padding: 0 2cm;
    width: 21cm;
}

.factura-show #logo_wrapper {
    width: 7.3cm;
    float: left;
}

.factura-show .letra {
    float: left;
    width: 2cm;
    text-align: center;
}

.factura-show .datos-factura {
    float: right;
    padding-left: 50px;
    width: 8cm;
}

.sub {
    font-size: 12px;
}

.sub span {
    font-size: 10px;
    margin-bottom: 10px;
    display: block;
}

.factura-show hr {
    border: 1px solid;
    margin: 10px 0;
}

.factura-show .datos-cliente th {
    border: 0;
}

.factura-detalle {
    height: 11cm;
    background: url('/assets/images/camion_roll.jpg') no-repeat center bottom;
}

.factura-show .original,
.factura-show .duplicado,
.factura-show .triplicado {
    padding: 2cm 0 1cm;
}

.original,
.duplicado
 {
    page-break-after: always;
 }

.clear {
    clear: both;
}

.leonina {
    font-size: 9px;
}

.jurisdiccion {
    width: 350px;
}

.factura-footer img {
    width: 280px;
    height: 25px;
}

.factura-footer hr {
    border-top: 1px #C4C4C4;
}

.title-module .btn {
    margin-left: 5px;
}